# OS
.DS_Store
Thumbs.db

# Power BI
*.pbix.cache
*.pbit

# Large data — ignore raw if you don't want to push raw CSV
# Uncomment to ignore raw files:
# data/raw/*

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Logs
*.log
